{{> head }}

{{> navbar }}

     <div class="row">
        <div class="col-8">
            <h1> Paisajes</h1>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam nisi, repellat delectus dicta magnam beatae exercitationem ullam asperiores non, nobis magni omnis et facilis facere nostrum unde in? Eos, amet.
            </p>
        </div>

        <div class="col-8">
         <img src="/assets/img/paisaje1.jpg" class="img-thumbnail">
        </div>
    </div>

{{> footer }}
